Skeleton/Connected Services/ServiceReferenceSkeleton/ServiceSkeleton2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SkelService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SkelService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="tblSkeleton">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblSkeleton" nillable="true" type="tns:tblSkeleton" />
  <xs:complexType name="ArrayOftblSkeleton">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblSkeleton" nillable="true" type="tns:tblSkeleton" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblSkeleton" nillable="true" type="tns:ArrayOftblSkeleton" />
</xs:schema>